body {
  font-family: "Roboto", sans-serif;
  color: #004449;
  font-style: normal;
  font-weight: 400;
  color: #004449;
  color: #FFFEF0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  position: absolute;
  inset: 0;
  width: 100%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 44px 241px 0 184px;
}

.header__menu li:first-child {
  color: #D7FFC2;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header__menu li:nth-child(2) {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.banner__bg .banner__title {
  padding-left: 320px;
}

.banner__bg .banner__title h1 {
  padding-top: 340px;
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
}

.banner__bg h2 {
  color: #FFAC7F;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  margin-bottom: 24px;
}

.banner__bg p,
.banner__bg span {
  color: #FFFEF0;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.banner__bg span {
  display: block;
  margin-bottom: 24px;
}

.banner__bg .button-link {
  display: inline-block;
  position: relative;
  color: #004449;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 16px 66px 16px 34px;
  margin-bottom: 400px;
  -webkit-transition: background-color .5s;
  border-radius: 50px;
  background: #0BFF80;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.banner__bg .button-link:hover {
  background-color: #1de27c;
}

.banner__bg .button-link svg {
  position: absolute;
  top: calc(50% - 12px);
  left: 270px;
}

.banner__brands {
  text-align: center;
}

.banner__brands h3 {
  color: #FFFEF0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.banner__brands .banner__block-img {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.info {
  max-height: 1200px;
}

.info h2 {
  text-align: center;
  padding-top: 112px;
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: #004449;
}

.info .info__card {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto 310px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 48px;
}

.info .info__card .card {
  position: relative;
  max-width: 357px;
  width: 100%;
}

.info .info__card .card .card__img-top {
  height: 152px;
  display: flex;
  justify-content: center;
}

.info .info__card .card .mt {
  margin-top: 50px;
}

.info .info__card .card .card-body {
  padding: 32px 27px 28px 27px;
  border-radius: 8px;
  background: #FFFEF0;
  color: #004449;
  box-shadow: 2px 8px 16px 0px rgba(153, 169, 197, 0.2);
  z-index: 10;
  border: 1px solid;
}

.info .info__card .card .card-body h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.info .info__card .card .card-body p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.info .reserve {
  position: relative;
  transition: .3s;
  max-width: 764px;
  max-height: 280px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #D7FFC2;
  color: #004449;
  margin: 0 auto;
}

.info .reserve h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  padding: 54px 0 18px 0;
}

.info .reserve p {
  max-width: 597px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  margin-bottom: 26px;
}

.info .reserve .reserve__btn {
  width: 140px;
  background: #483CFF;
  padding: 4px 34px;
  margin-bottom: 56px;
  color: #FFFEF0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 50%;
}

.info .reserve:hover {
  max-height: 342px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.collection {
  background: #FFFEF0;
  justify-content: center;
  align-items: center;
}

.slider__title {
  padding: 184px 0 48px 0;
  text-align: center;
}

.slider__title h2 {
  width: 232px;
  margin: 0 auto;
  padding: 0 10px;
  background: #D7FFC2;
  border-radius: 8px;
  color: #004449;
}

.slider__title h2,
.slider__title p {
  display: inline;
  color: #004449;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.collection .content {
  height: 423px;
  width: 270px;
  overflow: hidden;
  background-color: transparent;
}

.slider-block {
  padding-bottom: 129px;
}

.content img {
  max-width: 270px;
  width: 100%;
  height: 100%;
  max-height: 356px;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  color: #004449;
}

.text-content .text-content h4 {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  font-family: Roboto;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.text-content .text-content p {
  max-width: 22rem;
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
}

.block-btn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 24px);
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1104px;
  z-index: 100;
}

.btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  background-color: #004449;
}

.loved-by {
  text-align: center;
}

.loved-by h2 {
  padding-top: 128px;
}

.loved-by h2,
.loved-by .loved-by__subtitle {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  color: #004449;
}

.loved-by .loved-by__subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 214px;
}

.loved-by .loved-by__subtitle p {
  margin-right: 20px;
  padding: 0 10px;
  background: #D7FFC2;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper .slick-slide {
  padding: 51px 42px 0 32px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #FFFEF0;
  min-height: 365px;
  margin-right: 20px;
  color: #004449;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 56px;
}

.wrapper .slick-slide .info-block {
  display: flex;
  bottom: 32px;
}

.wrapper .slick-slide .info-block span {
  display: block;
}

.wrapper .slick-slide .info-block :last-child {
  font-size: 14px;
}

.wrapper .s-1 p {
  padding-bottom: 18px;
}

.wrapper .s-2 p {
  padding-bottom: 115px;
}

.wrapper .s-3 p {
  padding-bottom: 66px;
}

.wrapper .s-4 p {
  padding-bottom: 18px;
}

.wrapper .s-5 p {
  padding-bottom: 90px;
}

.wrapper .s-6 p {
  padding-bottom: 18px;
}

.arrow-block {
  margin-bottom: 122px;
}

.arrow-block .s-prev,
.arrow-block .s-next {
  cursor: pointer;
}

.without-the-stress {
  background-color: #FFFEF0;
  padding: 128px 0;
}

.without-the-stress__block {
  width: 944px;
  max-width: 100%;
  padding: 55px 122px;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  background: #BAEBFF;
}

.without-the-stress__block h2 {
  margin-bottom: 20px;
}

.without-the-stress__block p {
  max-width: 465px;
  margin: 0 auto 32px auto;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.button {
  width: 140px;
  background: #483CFF;
  padding: 4px 34px;
  margin-bottom: 56px;
  color: #FFFEF0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 50%;
}

.footer-top {
  display: flex;
  background: #004449;
  color: #FFFEF0;
  padding: 64px 0 80px 24px;
}

.footer-top .footer__block-text {
  width: 294px;
}

.footer-top .footer__block-text li {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.footer-top .footer__block-text li:not(:last-child) {
  display: block;
  margin-bottom: 16px;
}

.footer-top .footer__block-text li:not(:last-child):first-child {
  margin-bottom: 48px;
}

.footer-top .support {
  padding-left: 40px;
}

.footer-top .flex {
  position: relative;
}

.footer-top .flex p {
  position: absolute;
  top: 56px;
  right: 40px;
}

.footer-top .item-title {
  margin-bottom: 32px !important;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #FFFEF0;
}

.footer__bottom ul {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #004449;
}
